<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
       <destination>112.74.15.26:4567</destination>
       <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
        <customFields>{"appName":"eureka", "messageType": "eureka-log"}</customFields>
       </encoder>
    </appender>

	<!-- 日志输出级别 -->
	<root level="INFO">
	    <appender-ref ref="STDOUT" />
		<appender-ref ref="stash" />
	</root>

</configuration>